footer-1 {
    margin: 25px 0px;
    height: 50px;

}

footer-1 .wrapper-row {
    align-items: center;
    justify-content: center;
    border-top: solid 1px #C4C4C4;
    border-bottom: solid 1px #E1E1E1;
}

footer-1 .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    color: #000;
    font-family: 'Almarai Bold';
    padding: 0px 21px;
    border-bottom: solid 4px var(--blue-color-1);
    cursor: pointer;
}

footer-2 {
    background: -webkit-linear-gradient(left, #009DDF, #009DDF 50%, #DCDCDC 50%, #DCDCDC);
}

footer-2 .wrapper-row {
    height: 230px;
    align-items: center;
    flex-wrap: nowrap;
}

footer-2 .wrapper-row .col-footer-1 {
    width: 170px;
}

footer-2 .wrapper-row .col-footer-2 {
    width: 100%;
    height: 100%;
    background-color: #009ddf;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

footer-2 .wrapper-row .col-footer-2 .col-inside-4 {
    justify-content: space-around;
    margin-top: 20px;
}

footer-2 .wrapper-row .col-footer-2 .col-inside-4 .item-inside-1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
}

footer-2 .wrapper-row .col-footer-2 .col-inside-4:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    height: 123px;
    width: 1px;
    background-color: #A0C9EB;
    margin-top: calc(-123px / 2);
}

footer-2 .wrapper-row .col-footer-2 .col-inside-4 .item-title-1 {
    font-size: 15px;
    font-family: 'Almarai Bold';
    line-height: 25px;
    color: #fff;
}

footer-2 .wrapper-row .col-footer-2 .col-inside-4 .item-title-2 {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    color: #fff;
}


footer-2 .wrapper-row .col-footer-2 .col-inside-2 {
    width: calc(100% - 435px);
    display: flex;
    flex-flow: row wrap;
    position: relative;

}

footer-2 .wrapper-row .col-footer-2 .col-inside-2:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    height: 123px;
    width: 1px;
    background-color: #A0C9EB;
    margin-top: calc(-123px / 2);
}

footer-2 .wrapper-row .col-footer-2 .col-inside-2 .title-1 {
    width: calc(100% / 3);
}

footer-2 .wrapper-row .col-footer-2 .col-inside-2 .title-1 a {
    font-size: 12px;
    font-weight: 300;
    line-height: 34px;
    color: #fff;
    display: table;
    margin: auto;
    min-width: 85px;
}

footer-2 .wrapper-row .col-footer-2 .col-inside-3 {
    width: 435px;
    padding-right: 45px;
}

footer-2 .wrapper-row .col-footer-2 .col-inside-3 label {
    font-size: 14px;
    color: #fff;
    font-family: 'Almarai Bold';
    margin-bottom: 15px;
    display: block;
}

footer-2 .wrapper-row .col-footer-2 .col-inside-3 .outer-form {
    display: flex;
    margin-bottom: 20px;
}

footer-2 .wrapper-row .col-footer-2 .col-inside-3 .submit-subscribe {
    background-color: #007DB1;
    border-radius: 3px;
    width: 85px;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Almarai Bold';
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

footer-2 .wrapper-row .col-footer-2 .col-inside-3 input[type="text"] {
    background-color: #fff;
    border-radius: 3px;
    width: calc(100% - 85px);
    height: 40px;
    color: #747474;
    font-size: 15px;
    line-height: 40px;
    padding: 0px 15px;
}

footer-2 .wrapper-row .col-footer-2 .col-inside-3 input[type="text"]::placeholder {
    color: #747474;
    font-size: 15px;
    font-family: 'Almarai';
    line-height: 40px;
}

footer-2 .wrapper-row .col-footer-2 .col-inside-3 .footer-social {

}

footer-2 .wrapper-row .col-footer-2 .col-inside-3 .footer-social a {
    height: 27px;
    width: 27px;
    border: solid 1px #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

footer-3 .wrapper-row {
    height: 35px;
    align-items: center;
    flex-wrap: nowrap;
}

footer-2 .outer-form .error-message {
    position: absolute;
    color: #fff;
    background-color: var(--error-color-1);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 40px;
    left: 0;
}

footer-4 {
    background-color: #ddd;
    width: 100%;
    display: flex;
    padding: 10px 0px;
}

footer-2 .wrapper-row .col-footer-2 .col-inside-3 .footer-social a.footerplaystore path{
    fill: #fff; 
}

@media screen and (min-width: 990px) {

    footer-1 .menu-item:hover {
        color: #fff;
        transition: color 0.1s;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-3 .footer-social a:hover {
        border-color: #009ddf;
        background-color: #fff;
        transition: background-color 0.3s, border-color 0.3s;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-3 .footer-social a:hover path {
        fill: #009ddf;
        transition: fill 0.3s;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-3 .footer-social a.youtube:hover path:nth-child(2) {
        fill: #fff;
        transition: fill 0.3s;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-2 .title-1:hover a {
        text-decoration: underline;
        transition: text-decoration 0.3s;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-3 input[type="submit"]:hover {
        background-color: #095d80;
        transition: background-color 0.1s;
    }
}

@media screen and (max-width: 1200px) {
    footer-1 .menu-item {
        padding: 0px 15px;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-2 .title-1 {
        width: 50%;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-4 .item-inside-1 {
        width: 50%;
    }
}

@media screen and (max-width: 990px) {

    footer-1 {
        height: auto;
    }

    footer-2 .wrapper-row {
        height: auto;
    }

    footer-2 .wrapper-row .col-footer-2 {
        width: 100%;
        flex-wrap: wrap;
        padding: 20px 0px;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-4 {
        height: auto;
        padding: 0px;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-4 .item-inside-1 {
        margin-bottom: 20px;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-2 {
        width: 100%;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-2 {
        margin-top: 25px;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-2:after {
        display: none;
    }

    footer-3 .wrapper-row .col-md-4 {
        width: 50%;
    }

    footer-3 .wrapper-row .col-md-4:nth-child(2) {
        justify-content: flex-end;
    }

    footer-3 .wrapper-row .col-md-4:nth-child(2) span {
        margin-left: 0px;
    }

    footer-3 .wrapper-row .col-md-4:nth-child(3) {
        display: none;
    }


    footer-1 .menu-item {
        padding: 0px 10px;
        font-size: 11px;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-4:after {
        display: none;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-3 {
        width: 100%;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-4 .item-inside-1 {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 768px) {
    footer-2 {
        background: unset;
    }

    footer-2 .wrapper-row {
        position: relative;
        flex-wrap: wrap;
    }

    footer-2 .wrapper-row .col-footer-1 {
        background-color: #DCDCDC;
        width: 100%;
    }

    footer-2 .wrapper-row .col-footer-2 {
        padding: 0px;
        width: 100%;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-2 {
        margin-top: 0px;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-2 .title-1 a {
        padding: 7px 0px;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-3 {
        width: 100%;
        padding: 0px 10px;
    }

    footer-2 .wrapper-row .col-footer-2 .col-inside-3 .footer-social {
        margin-bottom: 25px;
    }

}



/*Footer Style Start*/

footer-1 .wrapper-social-media {display: flex;justify-content: center;align-items: center;width: 100%;gap: 15px;padding-top: 16px;padding-bottom: 17px;}
footer-1 .flex-row.footer-1 {margin-top: 35px;border-top: 1px solid #000;border-bottom: 7px solid #000;}


footer-2 .flex-row.top {margin-top: 8px;margin-bottom: 14px;}
footer-2 .col-inside-1 {display: flex;}

footer-2 .col-inside-1 .col-titles-1 {flex: 1 33%;}
footer-2 .col-inside-1 .col-titles-2 {flex: 2 33%;}
footer-2 .col-inside-1 .col-titles-3 {flex: 3 33%;}

footer-2 .col-inside-1 a {color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: 'Almarai';font-size: 16px;font-style: normal;font-weight: 400;line-height: 24px;text-decoration: none;padding-bottom: 10px;}
footer-2 .col-footer-2 {padding-right: 19px;border-right: 1px solid #C8C8C8;display: flex;align-items: flex-start;justify-content: center;flex-direction: column;}
footer-2 .col-inside-2.row-2 {display: flex;justify-content: flex-start;margin-top: 60px;gap: 80px;}
footer-2 .col-inside-2.row-2 .section-name {color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: 'Almarai';font-size: 16px;font-style: normal;font-weight: 800;line-height: normal;}
footer-2 .col-inside-2.row-2 .author-name {color: #9B9B9B;color: color(display-p3 0.6065 0.6065 0.6065);text-align: right;font-family: 'Almarai';font-size: 14px;font-style: normal;font-weight: 400;line-height: normal;}
footer-2 .col-footer-2 .heading-footer {color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 22px;font-style: normal;font-weight: 800;line-height: 30px; /* 136.364% */}
footer-2 .col-footer-2 {padding-right: 40px;padding-left: 46px;border-right: 1px solid #C8C8C8;border-left: 1px solid #C8C8C8;}
footer-2 .col-footer-2 .sub-input {display: block;width: 328px;height: 54px;border-radius: 3px;background: color(display-p3 0.9614 0.9614 0.9614);}
footer-2 .col-footer-2 .sub-button {margin-top: 12px;width: 117px;height: 54px;border-radius: 3px;background: color(display-p3 0 0 0);padding: 10px 33px 14px 32px;color: #fff;font-family: 'Almarai';font-size: 17px;font-style: normal;font-weight: 700;}
footer-2 .col-footer-3 {justify-content: flex-end;}
footer-2 .col-footer-3 .sub-item {margin-bottom: 52px;}
footer-2 .col-footer-3 .sub-item .app-store {margin-bottom: 19px;}
footer-3 .wrapper-bottom-social-media {display: flex;justify-content: space-between;width: 100%;align-items: center;}
footer-3 .wrapper-bottom-social-media .social-media {display: flex;justify-content: flex-start;align-items: center;width: 75%;gap: 25px;padding-top: 16px;padding-bottom: 17px;}
footer-3 .wrapper-bottom-social-media .copyright {width: auto;color: #9B9B9B;color: color(display-p3 0.6065 0.6065 0.6065);font-family: Almarai;font-size: 14px;font-style: normal;font-weight: 300;line-height: normal;}
footer-3 .flex-row.third-footer {border-top: 1px solid black;}

@media screen and (max-width: 991px) {
        footer-2 .col-footer-3 {justify-content: center;width: 100%;}
        footer-2 .col-footer-2 {border-right: 0;border-left: 0;width: 100%;padding-left: 0;padding-right: 0;margin: 10px 0;}
        footer-2 .col-footer-3 .sub-item .app-store{margin-left: 5px;}
        footer-2 .col-footer-3 .sub-item{display: flex;flex-direction: row;}
        footer-2 .col-footer-3 .items{display: flex; align-items: center;flex-direction: column;}
    }


/*Footer Style End*/