/*Header Style Start*/

header {
    font-size: 'Almarai';
    margin-bottom: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .top-header {
    display: flex;
}

header .top-header a {
    color: #484848;
    color: color(display-p3 0.2816 0.2816 0.2816);
    text-align: right;
    font-family: Almarai;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

header .top-header a:not(:last-child) {
    margin-left: 24px;
}

header-mobile {
    background-color: #009DDF;
}

@media screen and (max-width: 990px) and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width: 991px) {
    header-mobile .wrapper-row {
        height: 50px;
        color: #fff;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    header-mobile .col-1 {
        width: 100px;
    }

    header-mobile .col-2 {
        width: calc(100% - 200px);
    }

    header-mobile .col-3 {
        width: 100px;
    }

    header-mobile .col-2 .item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        text-decoration: none;
        color: white;
    }

    header-mobile .col-2 .item .item-title {
        margin-left: 5px;
    }

    side-menu {
        position: fixed;
        width: 300px;
        height: calc(100vh - 50px);
        top: 50px;
        right: 0px;
        z-index: 100;
        transition: transform 0.3s;
        background-color: #DCDCDC;
        transform: translateX(100%);
        overflow-y: scroll;
    }

    side-menu.active-side-menu {
        transform: translateX(0%);
    }

    side-menu .side-menu-item:first-child {
        margin-top: 5px;
    }

    side-menu .side-menu-item {
        color: #000;
        color: color(display-p3 0 0 0);
        text-align: right;
        font-family: Almarai;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-decoration: none;
        padding: 5px 15px;
        border: 1px solid black;
        margin-bottom: 5px;
        background-color: white;
        border-left: 0;
        border-right: 0;
    }
}

@media screen and (min-width: 991px) {
    side-menu, header-mobile.flex-row {
        display: none;
    }
}

header-1.flex-row {background: #F5F5F5;background: color(display-p3 0.9614 0.9614 0.9614);}
header-1 .wrapper-row {height: 41px;display: flex;flex-flow: row nowrap;width: 100%;align-items: center;}
header-1 .flex-end .store-icons {display: flex;}
header-1 .flex-end {align-items: center;}
header-1 .flex-end a {color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: "Almarai";font-size: 13px;font-style: normal;font-weight: 700;line-height: normal;text-decoration: none;display: flex;flex-direction: row;align-items: center;justify-content: space-between;}
header-logo {justify-content: center;margin: 10px 0;}
header-2 {padding-top: 19px;}
header-2 .col-layout-1 {width: 135px;}
header-2 .col-layout-2 div {width: 728px;height: 90px;background: color(display-p3 0.9333 0.9333 0.9333);}
header-2 .col-layout-3 {width: 170px;display: flex;flex-flow: row nowrap;align-items: center;margin: auto;}

@media screen and (min-width: 1200px) {
    header-2 .col-layout-3 {width: 210px;}
}

header-2.flex-row {justify-content: flex-end;padding-bottom: 15px;}
header-2 .wrapper-epaper {width: 93px;height: 36px;border-radius: 5px;border: 1px solid #000;border: 1px solid color(display-p3 0 0 0);display: flex;flex-direction: row;align-items: center;}
header-2 .col-layout-3 span {color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: "Almarai";font-size: 12px;font-style: normal;font-weight: 700;line-height: normal;}
header-2 .col-layout-3 a {display: flex;text-decoration: none;}
header-3.flex-row {border-top: 1px solid color(display-p3 0.8275 0.8275 0.8275);background: color(display-p3 1 1 1);padding-top: 15px;padding-bottom: 16px;border-bottom: 6px solid color(display-p3 0 0.6157 0.8745);}
header-3 .wrapper-row {align-items: center;}
header-3 .col-layout-1 {width: calc(100% - 35px);display: flex;flex-flow: row;flex-wrap: nowrap;flex-wrap: wrap;position: relative;gap: 22px;}
header-3 .col-layout-1 .menu-item {height: 18px;}
header-3 .col-layout-1 .menu-item a {color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: "Almarai";font-size: 16px;font-style: normal;font-weight: 800;line-height: normal;text-decoration: none;}
header-3 .col-layout-2 {width: 35px;display: flex;flex-flow: row;align-items: center;position: relative;justify-content: flex-end;gap: 7px;}

/*Header Style End*/

/*------------------------------------------------------------------------------------------------------------------------*/


/*Breaking News First Style Start*/


.breaking-news-first-widget {margin-bottom: 10px;}
.breaking-news-first-widget .breaking-news-wrapper {width: 100%;display: flex;}
.breaking-news-first-widget .breaking-news {background-color: #7C0000;padding: 22px 17px 24px 18px;color: #FFF;color: color(display-p3 1 1 1);text-align: right;font-family: 'Almarai';font-size: 22px;font-style: normal;font-weight: 700;line-height: 25px; /* 113.636% */}
.breaking-news-first-widget .breaking-news-content {background-color: #B90000;padding: 22px 18px 24px 21px;color: #FFF;color: color(display-p3 1 1 1);text-align: right;font-family: 'Almarai';font-size: 22px;font-style: normal;font-weight: 700;line-height: 25px; /* 113.636% */width: 100%;}
.breaking-news-first-widget .breaking-news-content a {text-decoration: none;color: white;}

/*Breaking News Second Widget*/

.breaking-news-second-widget {margin-bottom: 10px;}
.breaking-news-second-widget .breaking-news-wrapper {width: 100%;display: flex;}
.breaking-news-second-widget .breaking-news {background-color: #7C0000;padding: 22px 17px 24px 18px;color: #FFF;text-align: right;font-family: 'Almarai';font-size: 22px;font-weight: 700;line-height: 25px;}
.breaking-news-second-widget .breaking-news-content {background-color: #B90000;padding: 22px 18px 24px 21px;color: #FFF;text-align: right;font-family: 'Almarai';font-size: 22px;font-weight: 700;line-height: 25px;width: 100%;position: relative;}
.breaking-news-second-widget .breaking-news-content a {text-decoration: none;color: white;}
.breaking-news-second-widget .breaking-news-content:after {content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, color(display-p3 1 1 1 / 0.00) 0%, color(display-p3 1 1 1 / 0.83) 83%, color(display-p3 0.4392 0.0039 0.0039) 100%);z-index: 1;height: 1px;}
.breaking-news-second-widget .second-row {background: linear-gradient(180deg, #B90000 0%, #780000 100%);display: flex;flex-wrap: wrap;}
.breaking-news-second-widget .second-row .col-layout-1,
.breaking-news-second-widget .second-row .col-layout-2 {flex: 1;padding: 10px;}
.breaking-news-second-widget .second-row ul {padding: 0;margin: 0;margin-bottom: 26px;}
.breaking-news-second-widget .second-row li {color: #FFF;text-align: right;font-family: 'Almarai';font-size: 18px;font-weight: 400;line-height: 25px;list-style-position: outside;list-style-type: disc;margin-right: 24px;}
.breaking-news-second-widget .second-row li a {text-decoration: none;color: white;}
.breaking-news-second-widget .second-row li:not(:last-child) {margin-bottom: 26px;}
.breaking-news-second-widget .second-row .col-layout-1 {position: relative;}
.breaking-news-second-widget .second-row .col-layout-1:after {content: "";position: absolute;top: 0;bottom: 0;left: 0;background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.7) 100%);z-index: 1;width: 1px;}


/*Breaking News Third Widget*/

.breaking-news-third-widget {margin-bottom: 10px;}
.breaking-news-third-widget .breaking-news-wrapper {width: 100%;display: flex;}
.breaking-news-third-widget .breaking-news {background-color: #7C0000;padding: 22px 17px 24px 18px;color: #FFF;text-align: right;font-family: 'Almarai';font-size: 22px;font-weight: 700;line-height: 25px;}
.breaking-news-third-widget .breaking-news-content {background-color: #B90000;padding: 22px 18px 24px 21px;color: #FFF;text-align: right;font-family: 'Almarai';font-size: 22px;font-weight: 700;line-height: 25px;width: 100%;position: relative;}

.full-container .marquee-container-widget:not(.relative-widget) .wrapper-row {position: fixed;width: 100%;right: 0px;bottom: 0px;z-index: 100000;}
.breaking-news-third-widget .marquee-container-widget .title-widget-2 {width: 75px;background-color: #757575;color: #fff;height: 60px;display: flex;align-items: center;justify-content: center;}
.breaking-news-third-widget .title-widget-2 a {color: #FFF;color: color(display-p3 1 1 1);text-align: right;font-family: 'Almarai';font-size: 17px;font-style: normal;font-weight: 700;line-height: 25px;padding: 16px 18px 16px 15px;text-decoration: none;}
.breaking-news-third-widget .content-row:not(.content-row-full) {width: calc(100% - 75px);background-color: rgba(169, 0, 0, 1);}
.breaking-news-third-widget .content-row marquee {direction: ltr;}
.breaking-news-third-widget .content-row .img-item {display: inline-flex;height: 60px;align-items: center;vertical-align: top;}
.breaking-news-third-widget .content-row .article-title {height: 60px;display: inline-flex;align-items: center;color: #fff;padding: 0px 15px;direction: rtl;}
.breaking-news-third-widget .article-title a {color: #FFF;color: color(display-p3 1 1 1);text-align: right;font-family: Almarai;font-size: 17px;font-style: normal;font-weight: 700;line-height: 25px;text-decoration: none;}


/*4th widget carousel: alrai-four-articles*/
.alrai-four-articles-slider .alrai-four-articles-slider-carousel {width: 100%;padding: 10px 20px;position: static;}
.alrai-four-articles-slider .wrapper-row {width: 100%;padding: 0px 30px;position: relative;}
.alrai-four-articles-slider .alrai-four-articles-slider-carousel .item-row {display: flex;}
.alrai-four-articles-slider .alrai-four-articles-slider-carousel .item-row .col-img {width: 100px;}
.alrai-four-articles-slider .alrai-four-articles-slider-carousel .item-row .col-desc {width: calc(100% - 100px);padding: 5px 10px;}
.alrai-four-articles-slider .alrai-four-articles-slider-carousel .item-row .col-desc .social-share {margin-top: 10px;}
.alrai-four-articles-slider .alrai-four-articles-slider-carousel button.owl-prev {right: 5px;left: unset;}
.alrai-four-articles-slider .alrai-four-articles-slider-carousel button.owl-next {left: 5px;right: unset;}
.alrai-four-articles-slider .alrai-four-articles-slider-carousel button.owl-next, .alrai-four-articles-slider .alrai-four-articles-slider-carousel button.owl-prev {position: absolute;height: 20px;width: 20px;top: 25%;margin-top: -10px;}
.alrai-four-articles-slider .img-ratio {padding-bottom: 71%;}
.alrai-four-articles-slider .article-title a {color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: Almarai;font-size: 13px;font-style: normal;font-weight: 700;line-height: 18px;text-decoration: none;}

/*5th Widget: alrai-five-articles*/

.alrai-five-articles-main {display: flex;justify-content: space-between;flex-wrap: wrap;position: relative;}
.alrai-five-articles-main .col-1 {width: 54.45%;}
.alrai-five-articles-main .item-info-abs {position: absolute;width: 100%;height: auto;right: 0px;bottom: 0px;display: flex;flex-flow: row wrap;padding: 15px;color: #fff;z-index: 1;align-items: flex-end;align-content: flex-end;background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, #000000 100%, #000000 100%);}
.alrai-five-articles-main .col-2 .item-info-abs {background: unset;}
.alrai-five-articles-main .col-1 .img-ratio {padding-bottom: 56.11%;}
.alrai-five-articles-main .col-2 {width: calc(100% - 54.45% - 10px);display: flex;justify-content: space-between;flex-wrap: wrap;align-items: center;align-content: space-between;}
.alrai-five-articles-main .col-2 .item-row {width: calc(50% - 5px);}
.alrai-five-articles-main .item-row .size-22 {color: #FFF;color: color(display-p3 1 1 1);text-align: right;font-family: Almarai;font-size: 22px;font-style: normal;font-weight: 800;line-height: 30px;text-decoration: none;}
.alrai-five-articles-main .item-row .size-15 {color: #FFF;color: color(display-p3 1 1 1);text-align: right;font-family: Almarai;font-size: 15px;font-style: normal;font-weight: 800;line-height: 24px;text-decoration: none;}

@media screen and (max-width: 768px) {
    .alrai-five-articles-main .col-1,
    .alrai-five-articles-main .col-2 {margin-bottom: 10px;width: 100%;}
    .alrai-five-articles-main .col-2 .item-row {width: 100%;}

    /*.alrai-five-articles-main .col-2 .item-row:nth-child(1), .alrai-five-articles-main .col-2 .item-row:nth-child(2) {*/
    /*    margin-bottom: 10px;*/
    /*}*/
    .alrai-five-articles-main .item-row{margin-bottom: 10px;}
}

/*6th Widget  من هنا و هناك*/


.alrai-scrollable-content .title-widget-1 a {color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: 39px;text-decoration: none;padding-bottom: 5px;}
.alrai-scrollable-content .title-widget-1 {margin-bottom: 26px;}
.alrai-scrollable-content .title-widget-1::after {content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, rgba(0, 85, 121, 0.05) 0%, rgba(0, 157, 223, 1) 100%);z-index: 1;height: 3px;width: 100%;}
.alrai-scrollable-content .img-ratio{padding-bottom: 56%;}
.alrai-scrollable-content .item-info{padding: 15px 15px 28px 16px;border: 1px solid rgba(211, 211, 211, 1);}
.alrai-scrollable-content .item-info a{color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: Almarai;font-size: 15px;font-style: normal;font-weight: 800;line-height: 25px;text-decoration: none;}
.alrai-scrollable-content .item-row{padding-right: 1px;width: 280px}
.alrai-scrollable-content .owl-pagination{display: flex;justify-content: center;margin-top: 15px;height: 10px;background: #D9D9D9;}
.alrai-scrollable-content .owl-pagination .owl-page{background: #D9D9D9;width: calc(100% / 3);}
.alrai-scrollable-content .owl-pagination .owl-page.active{background: #00A0E5;width: calc(100%/3);}

@media screen and (max-width: 768px){
    .alrai-scrollable-content .item-row{
        width: 100%;
    }

}

/*7th Widget محليات*/
.alrai-mahlyat-widget .title-widget-1 a {color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: 39px;text-decoration: none;padding-bottom: 5px;}
.alrai-mahlyat-widget .title-widget-1 {margin-bottom: 26px;}
.alrai-mahlyat-widget .title-widget-1::after {content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, rgba(0, 85, 121, 0.05) 0%, rgba(0, 157, 223, 1) 100%);z-index: 1;height: 3px;width: 100%;}
.alrai-mahlyat-widget .col-part-one.col-4{padding-left: 28px;max-width: 30%;flex: 0 0 30%}
.alrai-mahlyat-widget .col-part-one .img-ratio{padding-bottom: 71%;}
.alrai-mahlyat-widget .col-part-one .item-info {background: linear-gradient(250deg, #00576F 20.21%, rgba(0, 87, 111, 0.25) 98.28%);min-height: 195px;}
.alrai-mahlyat-widget .col-part-one .item-info a{color: #FFF;color: color(display-p3 1 1 1);text-align: right;font-family: 'Almarai';font-size: 28px;font-style: normal;font-weight: 700;line-height: 39px;text-decoration: none;padding: 30px 25px 43px 20px;}
.alrai-mahlyat-widget .col-part-two{display: flex;flex-wrap: wrap;gap: 28px;}
.alrai-mahlyat-widget .col-part-two .item-row{flex-direction: column;display: flex;flex: 0 0 46%;max-width: 46%}
.alrai-mahlyat-widget .col-part-two .img-ratio{padding-bottom: 69%;}
.alrai-mahlyat-widget .col-part-two .item-row a.size-15{color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: 'Almarai';font-size: 15px;font-style: normal;font-weight: 800;line-height: 25px;text-decoration: none;padding-top: 6px;}

.alrai-mahlyat-widget .col-part-three{padding-right: 28px;}
.alrai-mahlyat-widget .col-part-three .item-row {padding: 30px 0;border-bottom: 1px solid #D9D9D9;}
.alrai-mahlyat-widget .col-part-three .item-row .item-info{width: 245px;}
.alrai-mahlyat-widget .col-part-three .item-row:first-child {padding-top: 0;}
.alrai-mahlyat-widget .col-part-three .item-row:last-child {border-bottom: 0;padding-bottom: 0;}
.alrai-mahlyat-widget .col-part-three .item-row .item-info a{color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: Almarai;font-size: 15px;font-style: normal;font-weight: 800;line-height: 25px;text-decoration: none;}


@media screen and (max-width: 768px){
    .alrai-mahlyat-widget .col-part-one.col-4{max-width: 100%;flex: 0 0 100%;margin-bottom: 15px;}
    .alrai-mahlyat-widget .col-part-one.col-4{padding-left: 0;}
    .alrai-mahlyat-widget .col-part-two{max-width: 100%;flex: 0 0 100%;}
    .alrai-mahlyat-widget .col-part-two{gap: 40px;margin-bottom: 15px;}
    .alrai-mahlyat-widget .col-part-three{max-width: 100%;flex: 0 0 100%;}
    .alrai-mahlyat-widget .col-part-three .item-row .item-info{width: 100%;}
    .alrai-mahlyat-widget .col-part-two .item-row{max-width: 100%;flex: 0 0 100%}
}

/*8th Widget */

.alrai-writer-widget .title-widget-1 a {color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: 39px;text-decoration: none;padding-bottom: 5px;}
.alrai-writer-widget .title-widget-1 {margin-bottom: 26px;}
.alrai-writer-widget .title-widget-1::after {content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, rgba(0, 85, 121, 0.05) 0%, rgba(0, 157, 223, 1) 100%);z-index: 1;height: 3px;width: 100%;}
.alrai-writer-widget .item-row{margin-bottom: 30px;}
.alrai-writer-widget .col-img {width: 70px;display: flex;flex-flow:column;margin-left: 20px;border-radius: 50%;overflow: hidden}
.alrai-writer-widget .col-img .img-ratio {padding-bottom: 100%}
.alrai-writer-widget .content-row{flex-wrap: wrap}
.alrai-writer-widget .article-title{width: calc(100% - 90px)}
.alrai-writer-widget .article-title .title{color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: 'Almarai';font-size: 16px;font-style: normal;font-weight: 800;line-height: 23px;text-decoration: none}  .alrai-writer-widget .item-row {flex: 0 0 50%;max-width: 50%;}
.alrai-writer-widget .article-title .author-name{color: #00A0E5;color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 14px;font-style: normal;font-weight: 400;line-height: normal;text-decoration: none;padding-top: 6px;}


/*8th Widget */

.alrai-follow-widget{display: flex; flex-direction: column}
.alrai-follow-widget .title-widget-1 {display: flex;gap: 7px;}
.alrai-follow-widget .title-widget-1 a{text-decoration: none;}
.alrai-follow-widget .title-widget-1 a p.follow-us{color: #00A0E5;color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: normal;border-left: 3px solid #00A0E5;padding-left: 5px;width: fit-content;margin-bottom: 0;}
.alrai-follow-widget  .wrapper-social-media{display: flex;gap: 7px;padding-right: 5px;}

@media screen and (max-width: 768px){

    .container .row .col-md-4:has(.alrai-follow-widget){
        flex: 0 0 100%;
        max-width: 100%;
    }


    .alrai-writer-widget .item-row{flex: 0 0 100%;max-width: 100%;}
    .alrai-follow-widget{align-items: center;}
    .alrai-follow-widget .title-widget-1{justify-content: center;}
}
/*9th Widget*/
.alrai-ad-follow {
    width: 300px;
    height: 250px;
    background: color(display-p3 .9333 .9333 .9333);
}

/*10th Widget*/
.alrai-arabic-national-widget .title-widget-1 a {color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: 39px;text-decoration: none;padding-bottom: 5px;}
.alrai-arabic-national-widget .title-widget-1 {margin-bottom: 26px;}
.alrai-arabic-national-widget .title-widget-1::after {content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, rgba(0, 85, 121, 0.05) 0%, rgba(0, 157, 223, 1) 100%);z-index: 1;height: 3px;width: 100%;}

.alrai-arabic-national-widget .row-1{
    margin-bottom:  48px;
}
.alrai-arabic-national-widget .row-1 .item-row{display: flex;flex-direction: row-reverse}
.alrai-arabic-national-widget .row-1 .item-row .item-info{padding: 37px 25px;width: calc(100% - 550px) ;background: linear-gradient(250deg, #00576F 20.21%, rgba(0, 87, 111, 0.25) 98.28%);}
.alrai-arabic-national-widget .row-1 .item-row .item-info a{color: #FFF;color: color(display-p3 1 1 1);text-align: right;font-family: 'Almarai';font-size: 32px;font-style: normal;font-weight: 700;line-height: 39px;text-decoration: none}
.alrai-arabic-national-widget .row-1 .img-ratio{width: 550px}

.alrai-arabic-national-widget .row-2{display: flex;gap: 27px;}
.alrai-arabic-national-widget .row-2 .img-ratio{padding-bottom: 64%;}
.alrai-arabic-national-widget .row-2 a{color: #000;
    color: color(display-p3 0 0 0);
    text-align: right;
    font-family: Almarai;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    text-decoration: none;}

.alrai-arabic-national-widget .row-2 .article-title-row-2 {
    padding: 15px 15px 18px 40px;
    background: color(display-p3 0.9333 0.9333 0.9333);}

@media screen and (max-width: 768px){
    .container .row .col-md-9:has(.alrai-arabic-national-widget){width: 100%;}
    .container .row .col-md-3:has(.alrai-culture-art-widget){width: 100%;margin-top: 15px;}
    alrai-arabic-national-widget{width: 100%;}
    .alrai-arabic-national-widget .row-1 .item-row{flex-direction: column;}
    .alrai-arabic-national-widget .row-1 .img-ratio{width: 100%;}
    .alrai-arabic-national-widget .row-1 .item-row .item-info{width: 100%;}
    .alrai-arabic-national-widget .row-2{flex-direction: column;}
}

@media screen and (max-width: 1200px){
    .container .row .col-md-9:has(.alrai-community-content .item-info){width: 100%;}
    .container .row .col-md-3:has(.alrai-culture-art-widget){width: 100%;}
    .alrai-culture-art-widget{width: 100%;}
}


    /* 11th Widget */
    .container .row .col-md-3:has(.alrai-culture-art-widget){border-right: 1px solid rgba(217, 217, 217, 1)}
    .alrai-culture-art-widget .title-widget-1 a{color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: 39px;text-decoration: none;padding-bottom: 5px;}
    .alrai-culture-art-widget .title-widget-1{margin-bottom: 26px;}
    .alrai-culture-art-widget .title-widget-1::after{content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, rgba(0, 85, 121, 0.05) 0%, rgba(0, 157, 223, 1) 100%);z-index: 1;height: 3px;width: 100%;}

    .alrai-culture-art-widget .img-row{width: 100%;}
    .alrai-culture-art-widget .img-ratio{padding-bottom: 65%;}
    .alrai-culture-art-widget .item-info a{color: #000; color: color(display-p3 0 0 0); text-align: right; font-family: Almarai; font-size: 15px; font-style: normal; font-weight: 800; line-height: 25px; text-decoration: none;}
    .alrai-culture-art-widget .item-row:not(:first-child) > a{display: none;}
    .alrai-culture-art-widget .item-row a{color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: Almarai;font-size: 15px;font-style: normal;font-weight: 800;line-height: 25px; /* 166.667% */text-decoration: none;}
.alrai-culture-art-widget .content-row .item-row {border-bottom: 1px solid rgba(217, 217, 217, 1);}
    .alrai-culture-art-widget .item-row:first-child .item-info a{padding: 16px 1px 30px 19px;}
.alrai-culture-art-widget .item-row:not(.item-row:first-child) .item-info a{padding: 23px 19px;}
.alrai-culture-art-widget .item-row:not(:last-child){border-bottom: 1px solid rgba(217, 217, 217, 1);}




/*12th Widget*/
.alrai-community-content{
    padding-top: 35px;}
.alrai-community-content .title-widget-1 a {color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: 39px;text-decoration: none;padding-bottom: 5px;}
.alrai-community-content .title-widget-1 {margin-bottom: 26px;}
.alrai-community-content .title-widget-1::after {content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, rgba(0, 85, 121, 0.05) 0%, rgba(0, 157, 223, 1) 100%);z-index: 1;height: 3px;width: 100%;}
.alrai-community-content .img-ratio{padding-bottom: 56%;}
.alrai-community-content .item-info{padding: 15px 15px 28px 16px;}
.alrai-community-content .item-info a{color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: Almarai;font-size: 15px;font-style: normal;font-weight: 800;line-height: 25px;text-decoration: none;}
.alrai-community-content .item-row{padding-right: 1px;width: 280px}
.alrai-community-content .owl-pagination{display: flex;justify-content: center;margin-top: 15px;height: 10px;background: #D9D9D9;}
.alrai-community-content .owl-pagination .owl-page{background: #D9D9D9;width: calc(100% / 3);}
.alrai-community-content .owl-pagination .owl-page.active{background: #00A0E5;width: calc(100%/3);}

@media screen and (max-width: 768px){
    .alrai-community-content .item-row{width: 100%;}
}

/*13th Widget*/
.death-statistics-marquee {margin: 35px auto}
.death-statistics-marquee .breaking-news-wrapper {width: 100%;display: flex;}
.death-statistics-marquee .breaking-news {background-color: #7C0000;padding: 22px 17px 24px 18px;color: #FFF;text-align: right;font-family: 'Almarai';font-size: 22px;font-weight: 700;line-height: 25px;}
.death-statistics-marquee .breaking-news-content {background-color: #B90000;padding: 22px 18px 24px 21px;color: #FFF;text-align: right;font-family: 'Almarai';font-size: 22px;font-weight: 700;line-height: 25px;width: 100%;position: relative;}

.full-container .marquee-container-widget:not(.relative-widget) .wrapper-row {position: fixed;width: 100%;right: 0px;bottom: 0px;z-index: 100000;}
.death-statistics-marquee .marquee-container-widget .title-widget-2 {width: 75px;background-color: #757575;color: #fff;height: 60px;display: flex;align-items: center;justify-content: center;}
.death-statistics-marquee .title-widget-2 a {color: #FFF;color: color(display-p3 1 1 1);text-align: right;font-family: 'Almarai';font-size: 15px;font-style: normal;font-weight: 700;line-height: 25px;padding: 16px 18px 16px 15px;text-decoration: none;}
.death-statistics-marquee .content-row:not(.content-row-full) {width: calc(100% - 84px);background-color: #000;}
.death-statistics-marquee .content-row marquee {direction: ltr;}
.death-statistics-marquee .content-row .img-item {display: inline-flex;height: 60px;align-items: center;vertical-align: top;}
.death-statistics-marquee .content-row .article-title {height: 60px;display: inline-flex;align-items: center;color: #fff;padding: 0px 15px;direction: rtl;}
.death-statistics-marquee .article-title a {color: #FFF;color: color(display-p3 1 1 1);text-align: right;font-family: Almarai;font-size: 17px;font-style: normal;font-weight: 700;line-height: 25px;text-decoration: none;}


/*14th Widget*/
.alrai-economy-widget .title-widget-1 a {color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: 39px;text-decoration: none;padding-bottom: 5px;}
.alrai-economy-widget .title-widget-1 {margin-bottom: 26px;}
.alrai-economy-widget .title-widget-1::after {content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, rgba(0, 85, 121, 0.05) 0%, rgba(0, 157, 223, 1) 100%);z-index: 1;height: 3px;width: 100%;}
.alrai-economy-widget .col-part-one.col-4{padding-left: 28px;max-width: 30%;flex: 0 0 30%}
.alrai-economy-widget .col-part-one .img-ratio{padding-bottom: 95%;}
.alrai-economy-widget .col-part-one .item-info {background: linear-gradient(250deg, #00576F 20.21%, rgba(0, 87, 111, 0.25) 98.28%);min-height: 195px;}
.alrai-economy-widget .col-part-one .item-info a{color: #FFF;color: color(display-p3 1 1 1);text-align: right;font-family: 'Almarai';font-size: 28px;font-style: normal;font-weight: 700;line-height: 39px;text-decoration: none;padding: 30px 25px 43px 20px;}
.alrai-economy-widget .col-part-two{display: flex;flex-wrap: wrap;gap: 28px;}
.alrai-economy-widget .col-part-two .item-row{flex-direction: column;display: flex;flex: 0 0 46%;max-width: 46%}
.alrai-economy-widget .col-part-two .img-ratio{padding-bottom: 84%;}
.alrai-economy-widget .col-part-two .item-row a.size-15{color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: 'Almarai';font-size: 15px;font-style: normal;font-weight: 800;line-height: 25px;text-decoration: none;padding-top: 6px;}

.alrai-economy-widget .col-part-three{padding-right: 28px;}
.alrai-economy-widget .col-part-three .item-row {padding: 30px 0;border-bottom: 1px solid #D9D9D9;}
.alrai-economy-widget .col-part-three .item-row .item-info{width: 245px;}
.alrai-economy-widget .col-part-three .item-row:first-child {padding-top: 0;}
.alrai-economy-widget .col-part-three .item-row:not(:first-child) .img-ratio {
    display: none;}
.alrai-economy-widget .col-part-three .item-row:last-child {border-bottom: 0;padding-bottom: 0;}
.alrai-economy-widget .col-part-three .item-row .item-info a{color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: Almarai;font-size: 15px;font-style: normal;font-weight: 800;line-height: 25px;text-decoration: none;}


@media screen and (max-width: 768px){
    .alrai-economy-widget .col-part-one.col-4{max-width: 100%;flex: 0 0 100%;margin-bottom: 15px;}
    .alrai-economy-widget .col-part-one.col-4{padding-left: 0;}
    .alrai-economy-widget .col-part-two{max-width: 100%;flex: 0 0 100%;}
    .alrai-economy-widget .col-part-two{gap: 40px;margin-bottom: 15px;}
    .alrai-economy-widget .col-part-three{max-width: 100%;flex: 0 0 100%;}
    .alrai-economy-widget .col-part-three .item-row .item-info{width: 100%;}
    .alrai-economy-widget .col-part-two .item-row{max-width: 100%;flex: 0 0 100%}
}

/*15th Widget*/
.alrai-education-widget{
    padding-top: 35px;}
.alrai-education-widget .title-widget-1 a {color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: 39px;text-decoration: none;padding-bottom: 5px;}
.alrai-education-widget .title-widget-1 {margin-bottom: 26px;}
.alrai-education-widget .title-widget-1::after {content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, rgba(0, 85, 121, 0.05) 0%, rgba(0, 157, 223, 1) 100%);z-index: 1;height: 3px;width: 100%;}
.alrai-education-widget .img-ratio{padding-bottom: 56%;}
.alrai-education-widget .item-info{padding: 15px 15px 28px 16px;}
.alrai-education-widget .item-info a{color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: Almarai;font-size: 15px;font-style: normal;font-weight: 800;line-height: 25px;text-decoration: none;}
.alrai-education-widget .item-row{padding-right: 1px;width: 280px}
.alrai-education-widget .owl-pagination{display: flex;justify-content: center;margin-top: 15px;height: 10px;background: #D9D9D9;}
.alrai-education-widget .owl-pagination .owl-page{background: #D9D9D9;width: calc(100% / 3);}
.alrai-education-widget .owl-pagination .owl-page.active{background: #00A0E5;width: calc(100%/3);}

@media screen and (max-width: 768px){
    .alrai-education-widget .item-row{width: 100%;}
}


/*16th Widget*/
.alrai-visitor-browsing{
    padding-top: 35px;width: 100%}
.alrai-visitor-browsing .title-widget-1 a {color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: 39px;text-decoration: none;padding-bottom: 5px;}
.alrai-visitor-browsing .title-widget-1 {margin-bottom: 23px;}
.alrai-visitor-browsing .title-widget-1::after {content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, rgba(0, 85, 121, 0.05) 0%, rgba(0, 157, 223, 1) 100%);z-index: 1;height: 3px;width: 100%;}

.alrai-visitor-browsing .item-row .flex-column > a{
    display: none;
}

.alrai-visitor-browsing .item-row a{
    color: #000;
    color: color(display-p3 0 0 0);
    text-align: right;
    font-family: 'Almarai';
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    text-decoration: none;
}

.alrai-visitor-browsing .item-row a{
    padding: 23px 0;
}

.alrai-visitor-browsing .item-row:first-child a{
    padding-top: 0;
}

.alrai-visitor-browsing .item-row:not(:last-child) a{
    border-bottom: 1px solid #D9D9D9;
}

.alrai-visitor-browsing div.follow-us{
    display: flex;
    margin-top: 43px;
    align-items: center;
}
.alrai-visitor-browsing div.follow-us p.follow-us{
    color: color(display-p3 0 0.6157 0.8745);
    text-align: right;
    font-family: "Almarai";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-left: 3px solid rgb(0, 160, 229);
    padding-left: 2px;
    margin-left: 10px;
    width: fit-content;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px){
    .col-md-9:has(.alrai-education-widget){
        width: 100%;
    }

    .col-md-3:has(.alrai-visitor-browsing){
        width: 100%;
    }
}


/*17th Widget*/



.alrai-sport-widget .title-widget-1 a {color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: 39px;text-decoration: none;padding-bottom: 5px;}
.alrai-sport-widget .title-widget-1 {margin-bottom: 26px;}
.alrai-sport-widget .title-widget-1::after {content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, rgba(0, 85, 121, 0.05) 0%, rgba(0, 157, 223, 1) 100%);z-index: 1;height: 3px;width: 100%;}

.alrai-sport-widget .row-1{
    margin-bottom:  48px;
}
.alrai-sport-widget .row-1 .item-row{display: flex;flex-direction: row-reverse}
.alrai-sport-widget .row-1 .item-row .item-info{padding: 37px 25px;width: calc(100% - 550px) ;background: linear-gradient(250deg, #00576F 20.21%, rgba(0, 87, 111, 0.25) 98.28%);}
.alrai-sport-widget .row-1 .item-row .item-info a{color: #FFF;color: color(display-p3 1 1 1);text-align: right;font-family: 'Almarai';font-size: 32px;font-style: normal;font-weight: 700;line-height: 39px;text-decoration: none}
.alrai-sport-widget .row-1 .img-ratio{width: 550px}

.alrai-sport-widget .row-2{display: flex;gap: 27px;}
.alrai-sport-widget .row-2 .img-ratio{padding-bottom: 64%;}
.alrai-sport-widget .row-2 a{color: #000;
    color: color(display-p3 0 0 0);
    text-align: right;
    font-family: Almarai;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    text-decoration: none;}

.alrai-sport-widget .row-2 .article-title-row-2 {
    padding: 15px 15px 18px 40px;
    background: color(display-p3 0.9333 0.9333 0.9333);}

.alrai-sport-widget{
    padding-top: 35px;}

@media screen and (max-width: 768px){
    .container .row .col-md-9:has(.alrai-sport-widget){width: 100%;}
    .container .row .col-md-3:has(.alrai-culture-art-widget){width: 100%;margin-top: 15px;}
    .alrai-arabic-national-widget{width: 100%;}
    .alrai-sport-widget .row-1 .item-row{flex-direction: column;}
    .alrai-sport-widget .row-1 .img-ratio{width: 100%;}
    .alrai-sport-widget .row-1 .item-row .item-info{width: 100%;}
    .alrai-sport-widget .row-2{flex-direction: column;}
}





/*18th Widget*/
.alrai-studies-widget .title-widget-1 a {color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: 39px;text-decoration: none;padding-bottom: 5px;}
.alrai-studies-widget .title-widget-1 {margin-bottom: 26px;}
.alrai-studies-widget .title-widget-1::after {content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, rgba(0, 85, 121, 0.05) 0%, rgba(0, 157, 223, 1) 100%);z-index: 1;height: 3px;width: 100%;}
.alrai-studies-widget{
    padding-top: 35px;}
.alrai-studies-widget .img-row{width: 100%;}
.alrai-studies-widget .img-ratio{padding-bottom: 65%;}
.alrai-studies-widget .item-info a{color: #000; color: color(display-p3 0 0 0); text-align: right; font-family: Almarai; font-size: 15px; font-style: normal; font-weight: 800; line-height: 25px; text-decoration: none;}
.alrai-studies-widget .item-row:not(:first-child) > a{display: none;}
.alrai-studies-widget .item-row a{color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: Almarai;font-size: 15px;font-style: normal;font-weight: 800;line-height: 25px; /* 166.667% */text-decoration: none;}
.alrai-studies-widget .item-row:first-child .item-info a{padding: 16px 1px 30px 19px;}
.alrai-studies-widget .item-row:not(.item-row:first-child) .item-info a{padding: 23px 19px;}
.alrai-studies-widget .item-row:not(:last-child){border-bottom: 1px solid rgba(217, 217, 217, 1);}





/*Footer Style Start*/

footer-1 .wrapper-social-media {display: flex;justify-content: center;align-items: center;width: 100%;gap: 15px;padding-top: 16px;padding-bottom: 17px;}
footer-1 .flex-row.footer-1 {margin-top: 35px;border-top: 1px solid #000;border-bottom: 7px solid #000;}


footer-2 .flex-row.top {margin-top: 8px;margin-bottom: 14px;}
footer-2 .col-inside-1 {display: flex;}

footer-2 .col-inside-1 .col-titles-1 {flex: 1 33%;}
footer-2 .col-inside-1 .col-titles-2 {flex: 2 33%;}
footer-2 .col-inside-1 .col-titles-3 {flex: 3 33%;}

footer-2 .col-inside-1 a {color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: 'Almarai';font-size: 16px;font-style: normal;font-weight: 400;line-height: 24px;text-decoration: none;padding-bottom: 10px;}
footer-2 .col-footer-2 {padding-right: 19px;border-right: 1px solid #C8C8C8;display: flex;align-items: flex-start;justify-content: center;flex-direction: column;}
footer-2 .col-inside-2.row-2 {display: flex;justify-content: flex-start;margin-top: 60px;gap: 80px;}
footer-2 .col-inside-2.row-2 .section-name {color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: 'Almarai';font-size: 16px;font-style: normal;font-weight: 800;line-height: normal;}
footer-2 .col-inside-2.row-2 .author-name {color: #9B9B9B;color: color(display-p3 0.6065 0.6065 0.6065);text-align: right;font-family: 'Almarai';font-size: 14px;font-style: normal;font-weight: 400;line-height: normal;}
footer-2 .col-footer-2 .heading-footer {color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 22px;font-style: normal;font-weight: 800;line-height: 30px; /* 136.364% */}
footer-2 .col-footer-2 {padding-right: 40px;padding-left: 46px;border-right: 1px solid #C8C8C8;border-left: 1px solid #C8C8C8;}
footer-2 .col-footer-2 .sub-input {display: block;width: 328px;height: 54px;border-radius: 3px;background: color(display-p3 0.9614 0.9614 0.9614);}
footer-2 .col-footer-2 .sub-button {margin-top: 12px;width: 117px;height: 54px;border-radius: 3px;background: color(display-p3 0 0 0);padding: 10px 33px 14px 32px;color: #fff;font-family: 'Almarai';font-size: 17px;font-style: normal;font-weight: 700;}
footer-2 .col-footer-3 {justify-content: flex-end;}
footer-2 .col-footer-3 .sub-item {margin-bottom: 52px;}
footer-2 .col-footer-3 .sub-item .app-store {margin-bottom: 19px;}
footer-3 .wrapper-bottom-social-media {display: flex;justify-content: space-between;width: 100%;align-items: center;}
footer-3 .wrapper-bottom-social-media .social-media {display: flex;justify-content: flex-start;align-items: center;width: 75%;gap: 25px;padding-top: 16px;padding-bottom: 17px;}
footer-3 .wrapper-bottom-social-media .copyright {width: auto;color: #9B9B9B;color: color(display-p3 0.6065 0.6065 0.6065);font-family: Almarai;font-size: 14px;font-style: normal;font-weight: 300;line-height: normal;}
footer-3 .flex-row.third-footer {border-top: 1px solid black;}

@media screen and (max-width: 991px) {
        footer-2 .col-footer-3 {justify-content: center;}
        footer-2 .col-footer-2 {border-right: 0;border-left: 0;}
    }


/*Footer Style End*/

